@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: #212529;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 50px;
}

.navbar h2 {
  color: #ffb742;
  font-weight: 600;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  margin-right: 25px;
  transition: color 0.3s ease;
}

.navbar ul li:hover a {
  color: #ffb742;
}

.navbar ul li:last-child a {
  margin: 0;
}

.contact-btn {
  background: #ffb742;
  padding: 6px 30px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.contact-btn:hover {
  background: #fb8c00;
}

.main {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main h4 {
  font-size: 32px;
  color: #fff;
  font-weight: 600;
}

.main h4 span {
  color: #ffb742;
  text-decoration: underline;
}

.main p.title {
  font-size: 44px;
  font-weight: 600;
  color: #fff;
  margin-top: 8px;
}

.main p.subtitle {
  font-size: 16px;
  color: #ccc;
  margin-top: 20px;
}

.separator {
  margin: 50px 50px 30px;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.08);
  display: inline-block;
  color: #ffb742;
  border-radius: 12px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: 0 50px;
}

.about img {
  width: 280px;
}

.about .info h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .info p {
  color: #ccc;
  font-size: 16px;
  text-align: justify;
}

.about .info button {
  margin-top: 30px;
}

.skills {
  padding: 0 50px;
}

.skills h3 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 20px;
}

.skills i {
  font-size: 50px;
  margin: 10px;
}

.skills .left-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills .items {
  width: 30vw;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.skills .info {
  width: 60vw;
}

.skills .info p {
  color: #ccc;
  font-size: 16px;
  text-align: justify;
}

.projects {
  padding: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.project-card {
  width: 330px;
  margin: 0;
  background-color: rgb(12, 50, 63);
  /* box-shadow: 0 4px 8px rgba(165, 142, 142, 0.1); */
  border-radius: 8px;
  overflow: hidden;
}

.card-image {
  position: relative;
  overflow: hidden;
  padding: 7px;
  padding-bottom: 0;
}

.card-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}

.overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #f6f3f3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  transition: border-radius 0.35s ease-in,font-size 0.2s ease;
}

.overlay:hover {
  border-radius: 10%;
  font-size: 18px;
}

.card-content {
  padding: 10px;
}

.card-content h3 {
  margin-top: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.card-content p {
  margin-bottom: 0;
  color: #f6f3f3;
}

footer {
  position: relative;
  background: #1c1c1c;
  padding: 30px 30px 30px;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.links .socials{
  font-size: 25px;
  margin: 10px;
  color: #ffb742;
}
.socials i{
  background-color: #f6f3f3;
  height: 30px;
  width: 30px;
  text-align: center;
  padding: 2.6px;
  border-radius: 3px;
}

@media screen and (max-width: 1100px) {
  .guarantee {
    flex-wrap: wrap;
    gap: 10px;
  }

  .guarantee .item {
    flex-basis: 49%;
  }

  .skills {
    justify-content: space-between;
    gap: 20px;
  }

  .skills .left {
    width: 500px;
  }

  .skills .left .info h3 {
    font-size: 22px;
  }

  .skills .left .info p {
    font-size: 12px;
  }

  footer {
    margin-top: 150px;
  }

  footer .start {
    width: 90%;
    left: 5%;
    top: -20%;
  }

  footer .cols {
    flex-wrap: wrap;
  }

  footer .cols .about-col {
    flex-basis: 50%;
  }

  footer .cols .links-col {
    flex-basis: 50%;
  }

  footer .cols .news-col {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 780px) {
  .navbar button {
    display: none;
  }

  .main h4 {
    font-size: 24px;
  }

  .main p.title {
    font-size: 36px;
  }

  .main p.subtitle {
    font-size: 14px;
  }

  .guarantee .item {
    flex-basis: 100%;
  }

  .about {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 650px) {
  .navbar {
    justify-content: center;
  }

  .navbar h2 {
    display: none;
  }

  .navbar ul li a {
    font-size: 14px;
  }

  .main {
    margin-top: 50px;
    height: 320px;
    justify-content: start;
  }

  .main h4 {
    font-size: 20px;
  }

  .main p.title {
    font-size: 28px;
  }

  .main p.subtitle {
    font-size: 12px;
  }

  .main img {
    margin-top: 40px;
    width: 150px;
    height: 150px;
  }

  .skills {
    flex-wrap: wrap;
    justify-content: center;
  }

  .skills .right {
    justify-content: space-between;
  }

  .skills .left .info h3 {
    font-size: 20px;
  }

  footer .start {
    top: -8%;
  }

  footer .start p {
    display: none;
  }

  footer .cols .about-col {
    flex-basis: 100%;
    margin-bottom: 40px;
  }

  footer .cols .links-col {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  footer .cols .news-col {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 480px) {
  .main p.title {
    font-size: 18px;
  }

  .main p.subtitle {
    font-size: 10px;
  }

  .guarantee .item .info h3 {
    font-size: 20px;
  }

  .guarantee .item .info p {
    font-size: 12px;
  }
}



::-webkit-scrollbar{
  width: 5px;
  background-color: #ccc;
}

::-webkit-scrollbar-thumb{
  background-color: #ffb742;
  border: 1px solid #fa6949;
  border-radius: 3px;
}